
body {
    background-color:black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    border: 1px solid white;
    padding: 10px;
}

h1 {
    text-align: center;
}

.recipes {
    margin: auto 20px;
    background: rgb(62, 62, 62);
    border-radius: 5px;
    padding: 10px;
}

a:visited {
    color:blanchedalmond;
}

div {
    border: 1px solid white;
    display: flex; 
    gap: 2px;
    align-items: center;
    margin: 10px;
    flex: 1;
}

.outercontainer {
    border: 1px solid white;
    display: flex; 
    gap: 2px;
    justify-content: space-between;
    height: 75vh;
}





